/* image-container */

.image-container {
}


/* 이혜진/detailcontext */


.image-container {
  height: 700px; /* 임시값 */
  background-color: rgb(73, 73, 73);
}

/* /* <!-- tap meun_이혜진 --> */

.tap-container {
  height: 100px;  
  margin: 50px auto 10px auto;
  padding: 10px 60px 10px 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  font-size: 30px;
  background-color: transparent;
}

#movieDetailInformation { 
  display: flex;
  height : 30px;
  margin: 0px 20px;
  font-weight: bolder;
  color: white;
}

#movieComment {
  display: flex;
  height:30px;
  margin: 0px 20px;
  font-weight: bolder;
  color: white;

}

.selectedContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.selectorBox{
  height: 8px;
  width: 130px;
  margin : 15px 0px 10px 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: red;
}

.detailed-container {
  padding : 0px 60px 20px 60px;
  color: white;
  background-color: transparent;}

.movieTitle {
  font-size: 50px;
  padding : 20px;
}

.movieTagLine{
  font-size: 30px;
  padding : 20px;
}

.movieOverView{
  font-size: 30px;
  padding : 20px;
}

.movieMadeCompany {
  font-size: 25px;
  padding : 20px;
  margin : 10px 0px 0px 0px;
}

/* 이혜진/detailcontext 끝*/

.movie-detail-on-image {
  height: 700px; /* 임시값 */
  background-color: rgb(73, 73, 73);
  color: white;
  display: flex;
  position: relative;
  align-items: end;
}

.movie-detail-on-image > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  background: linear-gradient(to top, black, red);
}

.movie-info {
  height: fit-content;
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  padding-left: 60px;
  padding-bottom: 60px;
  background: linear-gradient(to top, rgb(0, 0, 0, 0.8), transparent);
}

.top-info {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}
.top-info > p {
  margin-right: 10px;
  font-size: 15px;
}

.overview {
  font-size: 15px;
  line-height: 20px;
  width: 400px;
  margin-bottom: 20px;
}

.title {
  font-size: 50px;
  width: fit-content;
}

/* tap-container */

.tap-container {
  height: 70px; /* 임시값 */
  background-color: rgb(107, 81, 81);
}

/* review-container */
.review-top-info {
  margin: 20px 0;
  color: #fff;
  font-weight: bold;
}
/* review form 영역 */
.review-form {
  padding: 15px;
  border: 1px solid #fff;
  border-radius: 5px;
}
.user-info-area {
  margin-bottom: 15px;
}
.review-input {
  padding-left: 5px;
  padding-right: 5px;
  display: inline-block;
  vertical-align: middle;
  border: 1px solid #fff;
  background: transparent;
  color: #fff;
  border-radius: 5px;
}
.review-input + .review-input {
  margin-left: 10px;
}
.review-cont-area {
  display: flex;
  align-items: top;
}
.thumb-box {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background-color: #fff;
}
.user-comment-box {
  margin-left: 15px;
  width: calc(100% - 55px);
}
.review-textarea {
  padding: 2px 5px;
  width: 100%;
  height: 25px;
  resize: none;
  background-color: transparent;
  border-width: 0 0 1px 0;
  border-color: #fff;
  outline: none;
  color: #fff;
  box-sizing: border-box;
  overflow: hidden;
}
.review-input::placeholder,
.review-textarea::placeholder {
  color: #fff;
}
.review-btn-box {
  margin: 10px 0;
  display: none;
  /* display: flex;  */
  justify-content: right;
}
.btn-send,
.btn-cancel {
  padding: 0 12px;
  height: 36px;
  line-height: 36px;
  border: none;
  border-radius: 20px;
  font-weight: bold;
  font-size: 14px;
  transition: all 0.3s; /*색상변경 부드럽게 처리*/
}
.btn-send {
  margin-left: 10px;
  background-color: #0080ff;
  color: #fff;
}
.btn-send:hover {
  background-color: #0060bf;
}
.btn-send:disabled {
  background-color: #909090;
  color: #262626;
}
.btn-cancel {
  background-color: transparent;
  color: #fff;
}
.btn-cancel:hover {
  background-color: #dbdbdb;
  color: #262626;
}
