@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Noto+Sans+KR:wght@100&display=swap");

* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #121212;
  height: 100vh;
  font-family: "Dancing Script", cursive;
  font-family: "Noto Sans KR", sans-serif;
}

.navbar {
  max-width: 1300px; /* 네비게이션 바의 최대 너비를 지정 */
  margin: 0 auto; /* 위아래 여백 없이 가로 중앙에 배치 */

  position: fixed;
  left: 0;
  right: 0;
  background-color: #121212;
  z-index: 1000;
}

.navbar-brand {
  color: white;
}
.navbar-brand:hover {
  color: #ef504e;
}
.navbar .btn {
  color: white;
  border: 1px solid white;
}
.navbar .btn:hover {
  background-color: #ef504e;
  border: 1px solid white;
}
.trailer-container {
  padding-top: 75px;
  display: flex;
  justify-content: center;
  transform-style: preserve-3d;
}
.trailer-container video {
  width: 100%;
  height: 100%;
}
/* card */
.flip {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 20px;
  height: 3000px;
}
.card-container {
  transition: all 0.9s;
  transform-style: preserve-3d;
  position: relative;
  width: 100%;
  height: 100%;
}

.card-container:hover {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  margin-top: 45px;
  color: white;
  border: 1px solid white;
  border-radius: 18px;

  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card-front img {
  border-radius: 18px;
  object-fit: cover;
}
.card-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 21px 31px 0px 30px;
}

.card-front .star {
  text-align: right;
  position: absolute;
  right: 25px;
  bottom: 24px;
}

.card-back {
  background-color: #16191e;
  transform: rotateY(180deg);
}
.card-back .star {
  text-align: right;
  margin-top: 10px;
}

.card-back .btn {
  position: absolute;
  top: 87%;
  left: 24%;
  right: 24%;
  padding: 2% 17%;
  background-color: #ef504e;
  border: #ffffff;
}
.card-back .btn:hover {
  background-color: #771f1d;
}
.card-back .card-text {
  overflow: hidden; /* -webkit-line-clamp 에 입력된 값 외의 텍스트를 모두 숨김 */
  display: -webkit-box; /* 텍스트를 박스 형태로 구성 */
  -webkit-line-clamp: 12; /* 입력된 값 만큼 문장 수 출력 */
  -webkit-box-orient: vertical; /* 가로 정렬 */
  margin: 0 30px;
  line-height: 23px;
}
.hr-top {
  border-top: 1.5px solid #ffffff;
}
.hr-bottom {
  position: absolute;
  bottom: 98px;
  width: 100%;
}
.footer {
  height: 10vh;
  color: white;
}
